@keyframes clock_rotation {

  0% {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -100%) rotate(360deg);
  }

}

@keyframes cube_rotation {

  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);

  }

}