// -------- Colors ----------

$mainLightColor: #FFB400;
$mainDarkColor: #2A2A2A;

$errorColor: #ff4b4b;
$successColor: #30e130;
$warningColor: #FFB400;

$redColor: #ff4b4b;
$linkColor: #1fc1ff;

$disabledDarkColor: #7e7e7e;
$disabledLightColor: #8f6900;

// -------- Opacity colors ----------

$errorOpacityColor: rgba(255, 75, 75, 0.6);
$mainLightOpacityColor: rgba(255, 180, 0, 0.6);
$mainDarkOpacityColor: rgba(42, 42, 42, 0.6);
$successOpacityColor: rgba(48, 225, 48, 0.6);