@import "../assets/mixins.scss";


.kalaiIcon {

  svg {
    fill: none;
    stroke: var(--textColor);
    transition: .15s fill, .15s stroke;
  }

  &.no_stroke {
    svg {
      stroke: none;
      fill: var(--textColor);
    }
  }

  &--box {
    width: 60px;
    height: 35px;
    cursor: pointer;
    transition: .3s all;
    background: var(--mainColor);

    &:not(:disabled) {

      &:not(:disabled) {
        border: $borderSize solid var(--borderColor);

        &:active,
        &:hover {
          background: var(--hoverBackgroundColor);

          svg {
            fill: none;
            stroke: var(--hoverTextColor);
          }

          &.no_stroke {
            svg {
              stroke: none;
              fill: var(--hoverTextColor);
            }
          }

          circle,
          path {
            stroke: var(--hoverTextColor);
          }

          &.no_stroke {
            svg {
              path {
                stroke: none;
              }
              fill: var(--hoverTextColor);
            }
          }


        }

      }

      &:active {
        div {
          transform: scale(0.9);
        }
      }

    }

    &:disabled {
      background: $disabledDarkColor;
    }

    &:disabled {
      cursor: default;
    }

    div {
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      transform: scale(1);
    }

    circle,
    path {
      stroke: var(--textColor);
      transition: .15s fill, .15s stroke;
    }

    &.no_stroke {
      svg {
        path {
          stroke: none;
        }
        fill: var(--textColor);
      }
    }

  }

}


.kalaiIcon-container {
  border: $borderSize solid var(--borderColor);

  & > .kalaiIcon--box:not(:disabled),
  & > .kalaiIcon--box
  {
    border: none;
  }

}


.sidebar {

  .active {
    .kalaiIcon {
      svg {
        stroke: var(--secondMainColor);
        circle {
          fill: var(--secondMainColor);
        }
      }
    }
  }

  .kalaiIcon {
    display: inline-block;
    vertical-align: middle;
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;

    svg {
      transition: .4s stroke;
      stroke: var(--textColor);
      circle {
        transition: .4s stroke;
        fill: var(--textColor);
      }
    }
  }

  &__item {

    &:hover > a, &:hover > .spoilerList__title {
      .kalaiIcon {
        svg {
          stroke: var(--secondMainColor);
          circle {
            fill: var(--secondMainColor);
          }
        }
      }
    }


    .kalaiIcon {
      margin-right: .5em;
    }

  }

}