.list {
  background: var(--mainColor);
  z-index: 10;
  @include absolutePosition(50%, calc(100% + $borderSize * 2), -50%, 0);
  opacity: 0;
  transition: .5s opacity;
  pointer-events: none;
  width: 100%;
  text-align: center;
  cursor: default;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__item {
    padding: 20px;
    background: var(--mainColor);
    transition: .5s all;
    border: $borderSize solid var(--borderColor);
    cursor: pointer;

    &.active {
      background: var(--activeBackgroundColor);
      pointer-events: none;
      color: var(--activeColor);
    }

    &:nth-child(even) {
      border-top: 0;
    }

    &:hover {
      background: var(--hoverBackgroundColorOpacity);
      color: var(--hoverTextColor);
    }
  }
}