@import "../assets/vars.scss";
@import "../assets/mixins.scss";

.profileLogo {
  border: $borderSize solid var(--borderColor);
  @include imageContainer();
  border-radius: 50%;
  background: var(--mainColor);

  img {
    object-fit: cover;
    line-height: 100px;
  }

}