@import "../assets/vars.scss";

:root[data-theme="dark"] {
  --mainColor: #2A2A2A;
  --mainOpacityColor: rgba(42, 42, 42, 0.6);

  --secondMainColor: #1fc1ff;
  --secondMainOpacityColor: rgba(31, 193, 255, 0.6);
  --secondMainSuperOpacityColor: rgba(31, 193, 255, 0.15);

  --modalContainerBackground:rgba(31, 193, 255, 0.15);

  --textColor: #fff;

  --checkboxMarkColor: #fff;
  --checkboxBackground: #2A2A2A;

  --borderColor: #1fc1ff;

  --hoverBackgroundColor: #1fc1ff;
  --hoverBackgroundColorOpacity: rgba(31, 193, 255, 0.6);
  --hoverTextColor: #fff;

  --disabledButtonColor: #7e7e7e;
  --disabledTextColor: #fff;

  --highlightingColor: #1fc1ff;

  --activeBackgroundColor: #1fc1ff;
  --activeColor: #fff;

  --deleteIconBackground: #1fc1ff;
  --deleteIconStickBackground: #fff;

  --cancelledBackground: rgba(148, 0, 0, 0.2);
  --finishedWithoutPageBackground: rgba(148, 141, 0, 0.2);
  --finishedBackground: rgba(0, 148, 47, 0.2);

  --burgerColor: #1fc1ff;

}