:root[data-theme="light"] {
  --mainColor: #ffffff;
  --mainOpacityColor: rgba(255, 255, 255, 0.6);

  --secondMainColor: #ff8800;
  --secondMainSuperOpacityColor: rgba(255, 136, 0, 0.15);
  --secondMainOpacityColor: rgba(255, 136, 0, 0.6);

  --modalContainerBackground: rgba(0, 0, 0, 0.5);

  --textColor: #2A2A2A;

  --checkboxMarkColor: #fff;
  --checkboxBackground: #2A2A2A;

  --borderColor: #2A2A2A;

  --hoverBackgroundColor: #2A2A2A;
  --hoverBackgroundColorOpacity: rgba(42, 42, 42, 0.6);
  --hoverTextColor: #fff;

  --disabledButtonColor: #7e7e7e;
  --disabledTextColor: #fff;

  --highlightingColor: #ff8800;

  --activeBackgroundColor: #2A2A2A;
  --activeColor: #fff;

  --deleteIconBackground: #2A2A2A;
  --deleteIconStickBackground: #fff;

  --cancelledBackground: rgba(148, 0, 0, 0.4);
  --finishedWithoutPageBackground: rgba(148, 141, 0, 0.4);
  --finishedBackground: rgba(0, 148, 47, 0.4);

  --burgerColor: #000;

  --calendarPrevNextDayColor: #7e7e7e;

  --calendarNarrowBackground: #ff8800;
  --calendarNarrowHoverBackground: #ff0090;
}

//#ff0090;
//#f700ff;
//#ff8800;