:root[data-theme="light"] {
  --mainColor: #ffffff;
  --mainOpacityColor: rgba(255, 255, 255, 0.6);

  --secondMainColor: #ff8800;
  --secondMainSuperOpacityColor: rgba(255, 136, 0, 0.15);
  --secondMainOpacityColor: rgba(255, 136, 0, 0.6);

  --modalContainerBackground: rgba(0, 0, 0, 0.5);

  --textColor: #2A2A2A;

  --checkboxMarkColor: #fff;
  --checkboxBackground: #2A2A2A;

}

//#ff0090;
//#f700ff;
//#ff8800;