@import "assets/reset.scss";
@import "assets/fonts.scss";
@import "assets/vars.scss";
@import "assets/mixins.scss";
@import "basic.scss";

@import "themes/dark.scss";
@import "themes/light.scss";

@import "modules/kalaiIcons.scss";
@import "modules/profileLogo.scss";
@import "modules/loading.scss";
@import "modules/error-container.scss";
@import "modules/status-response.scss";
@import "modules/spoilerList.scss";
@import "modules/deleteIcon.scss";
@import "modules/groupTransitions.scss";
@import "modules/projectStatuses.scss";
@import "modules/list.scss";

@import "login.scss";
@import "projects.scss";


.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


.customScroll {
  @include scrollBar();

}


.blocked-scroll {
  overflow: hidden;
}


html {
  @include scrollBar();
}


body {
  font-family: OpenSans, serif;
  font-weight: 400;
  background: var(--mainColor);
  color: var(--textColor);
}


svg {
  stroke: var(--textColor);
}


h1 {
  font-size: 3em;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.25;
}


.label-paddings {
  label {
    padding: 20px;
  }
}


h2 {
  font-size: 2em;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.25;
}


#root {
  @include vh100;
  display: flex;
  position: relative;
  overflow: hidden;
}


.page-content {
  flex: 0 1 100%;
}


.navbar {
  background: var(--mainColor);
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  flex-wrap: wrap;

  &:before {
    content: '';
    @include absolutePosition(0, 100%, 0, -100%);
    box-shadow: 0 0 10px 1px var(--secondMainColor);
    width: 100%;
    height: 1px;
    background: var(--secondMainColor);;
  }

  &__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    .icon {
      fill: var(--textColor);
      stroke: var(--textColor);
      transition: .2s all ease-in-out;

      &:hover {
        stroke: var(--secondMainColor);
        fill: var(--secondMainColor);
      }
    }

  }

}


.icon {
  width: 100%;
  height: 100%;
}


.main {
  background: var(--textColor);
  min-height: 100%;
  background: var(--mainColor);

  &__header {
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $mainHeaderResponse) {

      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

    }

  }

  &__content {
    position: relative;
    padding: 10px 20px;
  }

}


.fade-container {

  transition: .3s all ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.enter {
    opacity: 1;
  }

  &.enter-done {
    opacity: 1;
    pointer-events: all;
  }

  &.exit {
    opacity: 0;
  }

  &.exit-done {
    opacity: 0;
  }

}


.defaultForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.delete-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $redColor;
  position: relative;
  cursor: pointer;

  &.abs-del-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    transform: translate(50%, -50%);
  }

  &:before,
  &:after {

    content: '';
    width: 60%;
    height: 2px;
    background: #fff;
    @include absolutePosition(50%, 50%);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

}


.profileSettingsLogo {
  &__image {
    border: 5px solid var(--mainColor);
    flex: 0 0 100px;
  }
  &__button {
    flex: 0 1 100%;
    button {
      height: 100%;
    }
  }
}


.sidebar {
  background: var(--mainColor);
  flex: 0 0 250px;
  box-sizing: border-box;
  font-size: 1.2em;
  max-width: 250px;
  color: var(--textColor);
  word-break: break-all;

  @media screen and (max-width: $sidebarResponse) {
    @include absolutePosition(100%, 0);
    width: 250px;
    max-width: 70%;
    z-index: 90;
    height: 100%;
    overflow: auto;
    transform: translateX(0%);
    transition: .5s transform;
    &.active {
      transform: translateX(-100%);
    }
  }

  &__wrapper {
    position: relative;
    padding: 20px;
    min-height: 100%;
    &:after {
      content: '';
      @include absolutePosition(100%, 0, -200%);
      box-shadow: 0 0 10px 1px var(--secondMainColor);
      width: 1px;
      height: 100%;
      background: var(--secondMainColor);

      @media screen and (max-width: $sidebarResponse) {
        left: 2px;
      }

    }

  }

  .active {
    color: var(--secondMainColor);
    cursor: default;
    pointer-events: none;
  }

  &__item {
    margin-bottom: 1.2em;

    a, .spoilerList__title {
      transition: .4s color;
    }

    &:hover > a, &:hover > .spoilerList__title {
      color: var(--secondMainColor);
    }

    .spoilerList__title span,
    & > a span {
      transition: .4s transform;
      transform: translateX(0px);
    }

    &:hover > a:not(.active) span, &:hover > .spoilerList__title span {
        transform: translateX(5px);
    }

    &:hover .spoilerList__list {
      border-color: var(--secondMainColor);
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;
    }

    span:first-letter {
      text-transform: uppercase;
    }
  }

}


.endLine {

  width: 50%;
  margin: 30px auto 0;
  position: relative;
  border-radius: 50%;
  @include highlighting();
}



