@import "assets/reset.scss";
@import "assets/fonts.scss";
@import "assets/vars.scss";
@import "assets/keyframes.scss";

.container {

  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: OpenSans;
  font-weight: 400;
}


h1 {
  font-size: 3em;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.25;
}


#root {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
}


.login-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgb(255,180,0);
  background: linear-gradient(45deg, $mainLightColor 49%, $mainDarkColor 51%);
  display: flex;
  width: 100%;
}


.relative {
  position: relative;
}


.loginForm {
  background: #fff;
  padding: 50px;
  max-width: 550px;
  margin: auto;
  width: 100%;
  border-radius: 6px;

  &__title {
    margin: 0 auto 20px;
    text-align: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__button {
    margin-top: 20px;
  }

}


.loading {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $mainDarkColor;
  margin: auto;
  position: relative;

  .status-response-title {
    margin-top: 20px;
  }

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $mainDarkColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    background: $mainDarkColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-100%);
    animation-name: clock_rotation;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 0s;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
  }

  span:first-child {
    animation-duration: 4s;
    height: 45%;
    width: 3px;
  }

  span:last-child {
    height: 25%;
    animation-duration: 48s;
    width: 4px;
  }

}


.error-container {
  background: $errorOpacityColor;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  overflow: hidden;
  transition: all .3s;
  max-height: 0px;

  .error-content {
    padding: 10px 40px 10px 10px;
  }

  &.enter {
    opacity: 1;
    transform: translateX(0%);
    max-height: 200px;
    margin: 10px 0;

  }

  &.enter-done {
    max-height: 200px;
    opacity: 1;
    margin: 10px 0;

    transform: translateX(0%);
    pointer-events: all;
  }

  &.exit {
    opacity: 0;
    max-height: 0;
    margin: 0;
    transform: translateX(0%) scaleY(0);
    transition: all .3s;
  }

  &.exit-done {
    opacity: 0;
    transform: translateX(-100%);
  }

  span {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: $mainDarkColor;
      height: 70%;
      width: 2px;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

  }

}


.profileLogo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    text-align: center;
    line-height: 100px;
  }

}


.sidebar {
  flex: 0 1 300px;
  background: $mainLightColor;
}


.page-content {
  flex: 0 1 100%;
}


.navbar {
  background: $mainDarkColor;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  &__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    .icon {
      fill: #fff;
      stroke: #fff;
      transition: .2s all ease-in-out;

      &:hover {
        stroke: $mainLightColor;
        fill: $mainLightColor;
      }
    }

    &:hover {

    }
  }

}


.icon {
  width: 100%;
  height: 100%;
}


.main {
  padding: 20px;
  background: #fff;
  min-height: 100%;
}


.fade-container {

  transition: .3s all ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.enter {
    opacity: 1;
  }

  &.enter-done {
    opacity: 1;
    pointer-events: all;
  }

  &.exit {
    opacity: 0;
  }

  &.exit-done {
    opacity: 0;
  }

}


.defaultForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.success {
  color: $successColor;
}

.error {
  color: $errorColor;
}

.warning {
  color: $warningColor;
}


.success-background {
  background: #fff;
  background: radial-gradient(circle, rgba(250,254,250,1) 90%, $successColor 100%);
}


.error-background {
  background: #fff;
  background: radial-gradient(circle, rgba(250,254,250,1) 90%, $errorColor 100%);
}


.warning-background {
  background: #fff;
  background: radial-gradient(circle, rgba(250,254,250,1) 90%, $warningColor 100%);
}


.status-response {

  .circle-container {
    position: relative;

    span {
      position: absolute;
      width: 5%;
    }
  }

  &.success {

    .circle-container {

      span {
        background: $successColor;
      }

      span:first-child {
        height: 28%;
        transition: .2s all .5s;
        top: 60%;
        left: 27%;

        transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
        transform-origin: center top;

        &.active {
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
        }

      }

      span:nth-child(2) {
        top: 42%;
        height: 48%;
        left: 44%;
        transition: .3s all .6s;
        transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
        transform-origin: center bottom;

        &.active {
          transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
        }

      }

    }

    .circle {
      stroke: $successColor;
    }

  }

  &.error {

    .circle-container {

      span {
        background: $errorColor;
        transform-origin: center center;
      }

      span:first-child {
        height: 50%;
        transition: .2s all .5s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg) scaleY(0);

        &.active {
          transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
        }

      }

      span:nth-child(2) {
        top: 50%;
        height: 50%;
        left: 50%;
        transition: .2s all .5s;
        transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);

        &.active {
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
        }

      }

    }


    .circle {
      stroke: $errorColor;
    }

  }


  &.warning {

    .circle-container {

      span {
        background: $warningColor;
      }

      span:first-child {
        height: 5%;
        transition: .2s all .5s;
        top: 70%;
        left: 50%;

        transform: translateX(-50%) scale(0);
        transform-origin: center top;

        &.active {
          transform: translateX(-50%) scale(1);
        }

      }

      span:nth-child(2) {
        top: 20%;
        height: 40%;
        left: 50%;
        transition: .3s all .6s;
        transform: translateX(-50%) scaleY(0);
        transform-origin: center bottom;

        &.active {
          transform: translateX(-50%) scaleY(1);
        }

      }

    }


    .circle {
      stroke: $warningColor;
    }

  }

  .circle-container {
    width: 105px;
    height: 105px;
    display: block;
  }

  .circle {
    cx: 50%;
    cy: 50%;
    r: 45%;
    transition: 1s all;
  }

  .status-response-title {

    transform: scale(0);
    transition: .3s all;

    &.active {
      transform: scale(1);
    }

  }

}


.status-response-title {
  text-transform: uppercase;
  font-weight: 900;
  transition: .5s all;
  text-align: center;
  margin-top: 15px;
}


.center {
  margin: auto;
}


.kalaiIcon {

  svg {
    fill: none;
    stroke: #000;

  }

  &.no_stroke {
    svg {
      stroke: none;
      fill: #000;
    }
  }

}


.flex {
  display: flex;
}


.kalaiIconDark {
  width: 60px;
  height: 35px;
  background: $mainDarkColor;
  transition: .3s all;
  cursor: pointer;

  &:active,
  &:hover {
    background: $mainLightColor;
  }

  &:active {
    div {
      transform: scale(0.9);
    }
  }


  div {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: scale(1);
  }


  circle,
  path {
    stroke: #fff;
  }

  &.no_stroke {
    svg {
      path {
        stroke: none;
      }
      fill: #fff;
    }
  }

}


.w-100 {
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  display: block;
  background: $mainDarkColor;
  border: 1px solid $mainDarkColor;
  cursor: pointer;

  span {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition: .2s clip-path;
  }

  input {
    display: none;
  }

  input:checked + span {
    clip-path: polygon(22% 45%, 41% 64%, 86% 26%, 86% 38%, 40% 78%, 15% 50%);
  }

}