@import "assets/vars";
@import "assets/mixins";



.projectContent {

  &__header {
    position: relative;
    padding: 15px;
    &:before {
      content: '';
      @include absolutePosition(0, 100%, 0, -100%);
      border-bottom: $borderSize solid var(--borderColor);
      width: 100%;
      height: 2px;
    }
  }

}
