@import './src/styles/assets/functions';
@import './src/styles/assets/vars.scss';
@import "./src/styles/assets/mixins.scss";


.header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
  position: relative;

  @media screen and (max-width: 600px) {

    flex-direction: column;

  }
  
}


.content {

  $gridMedias: (
    690px: repeat(3, 1fr),
    540px: repeat(2, 1fr),
    380px: 1fr
  );

  @include createGrid(repeat(4, 1fr), $gridMedias);

  gap: 30px;
  min-height: 300px;
  position: relative;

  &:before {
    content: '';
    @include absolutePosition();
    width: 100%;
    height: 100%;
    transition: .2s all;
    pointer-events: none;
    z-index: 7;
  }

  &:after {
    content: 'Drop';
    font-size: 3em;
    color: $mainDarkColor;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @include absolutePosition();
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s transform;
    transform: scaleX(0);
    z-index: 10;
  }

}


.activeDragAndDrop {

  &:before {
    background: var(--secondMainColor);
  }

  &:after {
    transform: scaleX(1);
  }

}


.item {
  width: 125px;
  cursor: pointer;
  margin: 0 auto;
  height: fit-content;

  img {
    @include absolutePosition(50%, 50%, -50%, -50%);
  }

}


.imageContainer {
  width: 125px;
  height: 125px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}


.name {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}


.folderInput {
  @include absolutePosition(0, calc(100% + 5px));
  width: 100%;
  z-index: 20;
  box-shadow: 0 10px 15px -5px $mainDarkOpacityColor;
}


.breadCrumbs {

  display: flex;
  flex-wrap: wrap;
  color: var(--secondMainColor);
  font-size: 1em;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-top: -15px;

  li:not(:last-child) {
    cursor: pointer;
    &:after {
      content: '/';
      color: var(--textColor);
      margin: 0 .5em;
    }
  }


  li:last-child {
    pointer-events: none;
    color: var(--textColor);
  }


}