@import './src/styles/assets/functions';
@import './src/styles/assets/vars.scss';




.button {
  transition: .5s all;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid transparent;
  cursor: default;

  &.dark {
    color: #fff;
    background: $mainDarkColor;
  }

  &.light {
    color: #fff;
    background: $mainLightColor;
  }

  &:not(:disabled) {

    cursor: pointer;

    &.dark:active,
    &.dark:hover {
      background: #fff;
      color: $mainDarkColor;
      border: 1px solid $mainDarkColor;
    }

    &:active {
      transform: scale(0.95);
    }

  }

  &.dark:disabled {
    background: $disabledDarkColor;
  }

  &.light:disabled {
    background: $disabledLightColor;
  }

}