@import './src/styles/assets/functions';
@import './src/styles/assets/vars.scss';
@import './src/styles/assets/mixins.scss';



.button {
  transition: .5s all;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid transparent;
  cursor: default;
  border-radius: 5px;
  font-weight: 500;
  background: var(--mainColor);
  color: var(--textColor);
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 1;
  }

  &.dark {
    @include highlighting();
  }
  &.light {
    border: 1px solid var(--textColor);
  }

  &.tiny {
    border-radius: 0;
    padding: 7px;
  }


  &:not(:disabled) {

    cursor: pointer;

    &.dark:active,
    &.dark:hover {
      @include highlighting(10px, #fff);
    }

    &.light:hover,
    &.light:active {
      color: #fff;
      background: var(--textColor);
    }

    &:active {
      transform: scale(0.95);
    }

  }

  &:disabled {
    background: $disabledDarkColor;
    box-shadow: none;
    border-color: transparent;

    &.light:before {
      display: none;
    }

  }

}