@import './src/styles/assets/functions.scss';
@import './src/styles/assets/vars.scss';
@import './src/styles/assets/mixins.scss';

.input_container {
  width: 100%;
  font-size: em(18, 16);
  height: em(55, 18);
  background: transparent;
  position: relative;
  color: var(--textColor);
  input {
    border-radius: 5px;
    background: var(--mainColor);
    color: var(--textColor);
    border: $borderSize solid var(--borderColor);

  }
}

.input {
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;
  font-size: em(18, 16);
  letter-spacing: 0.05em;
  font-weight: 500;
}

.placeholder {
  font-size: em(18, 16);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 400;
  z-index: 0;
  transform-origin: left center;
  color: var(--textColor);
  transition: .5s all;
}

.input:-webkit-autofill + .placeholder,
.input:focus + .placeholder,
.active_placeholder {
  top: 0;
  transform: translateY(0%) scale(0.6);
}

.password_input_container {
  position: relative;

  input {
    padding-right: 50px;
  }

}

.eye_icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  svg {
    path {
      fill: var(--textColor);
    }
  }
}

.searchInput {
  height: 35px;
  padding: 0 15px 0 10px;
  margin-right: -5px;
  width: 100%;
  border-radius: 5px;
  background: var(--mainColor);
  color: var(--textColor);
  border: $borderSize solid var(--borderColor);
}