@import '../../../styles/assets/functions';
@import '../../../styles/assets/vars.scss';

.input_container {
  width: 100%;
  font-size: em(18, 16);
  height: em(55, 18);
  background: #fff;
  border: 1px solid $mainDarkColor;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;
  font-size: em(18, 16);
  letter-spacing: 0.05em;
  font-weight: 500;
}

.placeholder {
  font-size: em(18, 16);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 400;
  z-index: 0;
  transform-origin: left center;
  transition: .5s all;
}

.input:-webkit-autofill + .placeholder,
.input:focus + .placeholder,
.active_placeholder {
  top: 0%;
  transform: translateY(0%) scale(0.6);
}

.password_input_container {
  position: relative;

  input {
    padding-right: 50px;
  }

}

.eye_icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchInput {

  height: 35px;
  padding: 0 10px;
  border: 1px solid $mainDarkColor;
  margin-right: -1px;
  width: 100%;


}