.container {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.item {
  flex: 0 1 33.333%;
  @media screen and (max-width: 550px) {
    flex: 0 0 100%;
  }
}