@import "./src/styles/assets/vars";
@import "./src/styles/assets/mixins";

.message {

  width: 100%;
  background: var(--mainColor);
  border: $borderSize solid var(--borderColor);
  margin-top: 20px;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 5px;
  position: relative;

}


.image {

  width: 40px;
  height: 40px;
  @include absolutePosition(100%, 0, -80%, -50%)

}


.commentButtons {

  display: flex;
  background: var(--mainColor);
  @include absolutePosition(calc(100% - 50px), 0, -100%, -40%);
  transition: .3s all;

  .icon {

    width: 30px;
    height: 30px;
    padding: 5px;
    transition: .3s all;

    &:hover {
      background: var(--hoverBackgroundColor);
    }

  }


}